@import '../../stylesheets/variables';

.Documents {
  .multiview-item {
    display: grid;
  	grid-template-columns: auto auto;
  	grid-template-rows: auto auto 1fr;
  	align-items: start;

    padding: 10px 0;
    &:first-child {
      border-top: 2px dashed $gray-lighte;
    }
    border-bottom: 2px dashed $gray-lighte;

    .title {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      font-weight: bold;
      font-size: 125%;
    }

    .createdAt {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      font-style: italic;
    }
    .updatedAt {
      grid-row: 2 / 3;
      grid-column: 2 3;
      font-style: italic;
    }
    .body {
      grid-row: 3 / 4;
      grid-column: 1 3;

    }
  }
}
