@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  background-color: #f8f8f8;
  border-top: 1px solid $gray-lighter;

  p {
    color: $gray-light;
    margin: 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  ul li {
    margin-left: 20px;

    a {
      color: $gray-light;
    }

    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
      color: $gray;
    }
  }
}
