@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.Logout {
  padding: 20px;
  background: $cb-blue;
  text-align: center;
  border-radius: 3px;
  color: #fff;

  img {
    width: 100px;
    height: auto;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
    color: lighten($cb-blue, 25%);
  }

  ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 10px 0 0;
  }

  ul li {
    float: left;
    font-size: 28px;
    line-height: 28px;

    a {
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@include breakpoint(tablet) {
  .Logout {
    padding: 30px;
  }
}

@include breakpoint(desktop) {
  .Logout {
    padding: 40px;
  }
}
