@import '../../stylesheets/variables';

$gap: calc((1.5vh + 1.5vw) / 2);
$gap-half: calc((1.5vh + 1.5vw) / 4);

.App {
	display: grid;
	grid-template-areas: "headerLeft header headerRight"
	                     "asideLeft main asideRight"
	                     "footer footer footer";
	grid-template-columns: auto minmax(40%, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	align-items: start;

	min-height: 100vh;

  * > .container {
    width: 100% !important;
  }

  .headerLeft { grid-area: headerLeft; }
  .headerRight { grid-area: headerRight; }
  > nav {
    grid-area: header;
		margin: 0 $gap 0;
		border-style: none solid solid solid;
		border-width: 1px;
		border-color: $gray-lighter;
		border-radius: 0 0 4px 4px;
  }
  > .contentMain {
		grid-area: main;
	  margin: $gap;
	}
  > footer, .Footer { grid-area: footer; }
  > .asideLeft {
		grid-area: asideLeft;
		margin: $gap 0 0 $gap-half;
	}
  > .asideRight {
		grid-area: asideRight;
		margin: $gap $gap-half 0 0;
	}

  > aside {
    > * {
      margin-bottom: $gap;
      background-color: $gray-lighter;
    }
  }
}

@media screen and (max-width: 950px) {
	.App {
		grid-template-areas: "header"
												 "headerLeft"
												 "headerRight"
												 "asideLeft"
		                     "main"
		                     "asideRight"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto auto auto auto;


		.headerLeft, .headerRight, > nav, > .contentMain, > .asideLeft, > .asideRight {
			margin: 0 0 $gap 0; 
		}
	}
}
