@import '../stylesheets/variables';

.App {
  grid-template-columns: auto 100% auto !important;
}

.AdminContent .MultiView.table .multiview-content {
  border-collapse: collapse;
  
  .multiview-field {
    padding: 8px;
    border: 1px solid $gray-lighter;
  }
}
