.ViewDocument {
  padding: 0 1em;

  > * {
    margin-bottom: 1em;
  }

  .tags, .timestamp, .colour, .style, .width {
    display: flex;
    align-items: center;
    h4, h5 {
      margin-right: 0.5em;
    }
  }

  .timestamps {
    display: flex;
    justify-content: space-between;
  }
}
