@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.MultiView {
	margin-top: 10px;

  > .multiview-controls {
    @include flex-layout(10px);
    align-items: center;
    margin-bottom: 10px;
		flex-wrap: wrap;

		.Pager .btn {
			padding: 3px 6px;
		}

    .mv-select {
      width: 15em;

			.mv-select__control {
    		min-height: 28px;
	    	padding: 0;
			}
			.mv-select__value-container {
				padding: 0;
				margin: -2px 0 0 0;
				> * {
					margin: 2px 0 0 4px;
				}
				.mv-select__multi-value__label {
					padding: 1px 3px;
					font-size: 14px;
				}
			}
			.mv-select__indicator-separator {
				margin: 0;
			}
			.mv-select__indicator {
				padding: 0;
			}
		  .mv-select__menu {
			  margin-top: 1px;
			}
    }

		.text-filter {
			width: 20em;
		}

    .date-range {
      width: 22em;
      display: flex;
      background-color: $gray-lighte;
      border-radius:  $br-default;
    }
    .date-range-separator {
      width: 0.5em;
    }
  }

  .multiview-content {
		width: auto;
    max-width: 100%;

    .multiview-headers .multiview-field-inner {
      font-size: 95%;
    }

    .multiview-item-selected {
      background-color: #ffe;
    }

    .multiview-field {
			&.sortable .multiview-field-inner {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        span.fa {
          height: 100%;
          margin-top: 0.25em;
        }
      }

      &._actions > div {
        display: flex;
        flex-wrap: wrap;
        margin: -5px;
        > * {
          margin: 5px;
        }
      }

      .btn {
        padding: 2px 6px;
				min-width: 23px;
      }
    }
	}

	&.table .multiview-content {
		display: table;

	  .multiview-headers {
	    display: table-header-group;
	  }
	  .multiview-items {
	    display: table-row-group;
	  }
	  .multiview-item {
	    display: table-row;
	  }
	  .multiview-field {
	    display: table-cell;
			padding: 4px;
	  }
  }
}
