@import './variables';

@mixin breakpoint($point) {
  @if $point == desktop-large {
    @media (min-width: 1200px) { @content; }
  } @else if $point == desktop {
    @media (min-width: 1024px) { @content; }
  } @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  } @else if $point == handheld-large {
    @media (min-width: 480px) { @content; }
  } @else {
    @media (min-width: $point) { @content; }
  }
}

@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }

  @supports (-ms-accelerator:true) {
    @content;
  }
}

@mixin panel {
  padding: 0.4em 0.5em;
  background-color: $gray-lighter;
  border: 1px solid $gray-lighte;
  border-radius: $br-default;
}

@mixin flex-layout($horizontal-margins:5px, $vertical-margins:5px) {
  display: flex;
  margin-top: -$vertical-margins;
  margin-bottom: -$vertical-margins;
  margin-left: -$horizontal-margins;
  margin-right: -$horizontal-margins;

  > * {
    margin: $vertical-margins $horizontal-margins;
  }
}


// Should be applied to the "table" element.
@mixin table($cellPadding:4px) {
  display: table;

  // If table classes specified they override the layout without table-head|body.
  .table-head {
    display: table-header-group;
    font-weight: bold;
  }
  .table-body {
    display: table-row-group;
  }
  .table-row {
    display: table-row;
  }
  .table-cell {
    display: table-cell;
    padding: $cellPadding;
    border-bottom: 2px solid $gray-lighte;
  }
}


// Should be applied to the "table" element.
@mixin flex-table($colWidth, $cellPadding:4px) {
  display: flex;
  flex-direction: column;

  // If table classes specified they override the layout without table-head|body.
  .table-head {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  .table-body {
    display: flex;
    flex-direction: column;
  }
  .table-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid $gray-lighte;
  }
  .table-cell {
    display: block;
    width: $colWidth;
    padding: $cellPadding;
    word-wrap: break-word;
  }
}


@mixin modal-fullscreen {
  padding-left: 0 !important;

  .modal-dialog {
    width: 99%;
    height: 99%;
    margin: 0.25% 0 0 0.5%;

    .modal-content,
    .modal-body {
      height: 100%;
    }
  }
}
